<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847351716008-v3h6dlbtaptes8c3o8tm8i24p3tn2127.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847351716008-v3h6dlbtaptes8c3o8tm8i24p3tn2127</string>
	<key>API_KEY</key>
	<string>AIzaSyCmDYipPySwBWf_cFJ3u3yDUAd5iB97l4A</string>
	<key>GCM_SENDER_ID</key>
	<string>847351716008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shakhawat.SwiftfulThinkingFirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasebootcamp-cdaff</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasebootcamp-cdaff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847351716008:ios:f7547bb8bb10eb81be8a9d</string>
</dict>
</plist>